.main-header {
    background: var(--darkpurple);
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 1.3rem;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0.3rem 1.3rem;
}
.main-nav a:hover {
    color: var(--pink);
}
.register-btn {
    background: var(--pink);
    padding: 0.3rem 1.3rem;
    text-align: center;
    color: #fff;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}
